@use "../../assets/styles/mixins" as mixin;
.tagRate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  @include mixin.md-lt {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.subtitle {
  margin: 0 6.2rem 2rem 6.2rem;
  display: flex;
  justify-content: space-between;

  @include mixin.sm {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  @include mixin.md-sm {
    margin: 0;
    display: block;
  }
  @include mixin.tab-sm {
    margin: 0;
  }
}
.hostTitle {
  display: flex;
  flex-direction: column;
  @include mixin.md-lt {
    flex-direction: column;
    margin: 1.5rem;
  }
  @include mixin.sm {
    margin: 0.5rem;
  }
}
.profilRate {
  display: flex;
  flex-direction: column-reverse;
  @include mixin.sm {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0px 0.6rem;
  }
  @include mixin.md-sm {
    flex-direction: row;
    justify-content: space-between;
  }
}
