@use "../../assets/styles/mixins" as mixin;

.underline {
  text-decoration: underline;
  width: 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 1.2rem;
  @include mixin.sm {
    padding-bottom: 0.2rem;
  }

  a {
    color: var(--primary);
  }
  img {
    width: 170px;
    margin-left: 0px;
    @include mixin.sm {
      width: 134px;
    }
    @include mixin.ultra-sm {
      width: 114px;
    }
    @include mixin.md-sm {
      width: 145px;
    }
  }
}
.navList {
  a {
    padding: 1.2rem;
    @include mixin.sm {
      font-size: 12px;
      padding: 0.8rem;
    }
    @include mixin.ultra-sm {
      font-size: 10px;
    }
    @include mixin.md-sm {
      font-size: 14px;
      padding: 0.8rem;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
