@use "./mixins" as mixin;

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.space-content {
  margin: 3rem 6.5rem 0 6.5rem;
  @include mixin.md {
    margin: 3rem 1.5rem 0 1.5rem;
  }
  @include mixin.sm {
    margin: 1rem 1.5rem 0 1.5rem;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.5s ease;
}

.default-icon {
  transform: rotate(0);
  transition: transform 0.5s ease;
}
