:root {
  --font-family: "Montserrat", sans-serif;
  --primary: #ff6060;
  --text-color: #fff;
  --gray: #f6f6f6;
  --dark-color: #09090900;
  --box-shadow: inset 0px -130px 80px -30px rgba(0, 0, 0, 0.55);
}
